 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello!

I'm a technical designer with several years experience working for independent developers and on personal projects. I am currently looking for roles that will utilize both my programming and design skills.

My major focus has been Unreal Engine 4 development where I have contributed designs and code for UI, character animation, AI scripting and gameplay. I also have broader experience working with Unity, Source and in other areas of software development (front-end and back-end web development).

More recently I have been working in QA, learning about the production process from a new perspective and using my knowledge of game development to more efficiently test our project.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you are in need of someone who can:
- Split the workload of a game designer and game programmer
- Quickly learn new tech and development practices
- Communicate the big picture while still being able to focus on low-level problems
- Deliver work in a multiple areas, from level design/scripting to C++ game code
- Be a positive and motivating influence on a team

Lets talk!

I am open to a short/long term assignments either remotely or on-site.</p>
                </div>
            </div>
        </div>
    </section>
