 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
					</br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello, my name is Caleb Smith and I am a freelance game programmer and designer with several years experience working on independent projects with a focus on gameplay development. I have experience working with UE4, Unity and the Source Engine.
					<br>
					<br>
					Previously I have developed various game types, AI scripts, UI layout and scripts, level scripting and general gameplay related code/script. On the design side I have delivered technical and game design documentation, numbers balancing and task management.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you are in need of someone who can:
					<br>
						<ul>
							<li>Split the workload of a game designer and game programmer</li>
							<li>Quickly learn new tech and development practices</li>
							<li>Communicate the big picture while still being able to focus on low-level problems</li>
							<li>Deliver work in a multiple areas, from level design/scripting to C++ game code</li>
						</ul>
					<br>
					Lets talk!
					</p>
                </div>
            </div>
        </div>
    </section>
