 <!-- Portfolio Modals -->
 {% for page in site.pages %}
    <div class="portfolio-modal modal fade" id="{{ page.categories }}Modal-{{ page.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ page.title }}</h2>
                            <img src="img/modal-thumbnails/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                            {% if page.description %}
                                <p>{{ page.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if page.client %}
                                    <li>
                                        <strong>
										{% if page.clientURL %}
											<a target="_blank" href="{{ page.clientURL }}">
										{% endif %}
										{{ page.client }}
										{% if page.clientURL %}
											</a>
										{% endif %}
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if page.project-date %}
                                    <li>Date:
                                        <strong>{{ page.project-date }}</strong>
                                    </li>
                                {% endif %}
                                {% if page.category %}
                                    <li>Role:
                                        <strong>{{ page.category }}</strong>
                                    </li>
                                {% endif %}
                            </ul>
							<br>
							{{ page.content }}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}