---
---

@import "{{ site.theme }}";

.header_button {
  //background-color: #252525 !important;
  padding-right: 10px !important;
}

nav {
  background-color: transparent !important;

  li{
    a{
      background-color: #848375 !important;
      border-color: 0 !important
      border: 1px solid #0;
    }

    a:hover{
      background-color: #A92F41 !important;
    }
  }
}
