---
---

@import "{{ site.theme }}";

.header_button {
  //background-color: #252525 !important;

}

#header {
  margin: 2px 0 2px, 0 !important;
  //float: right !important;
  height: 170px !important;
  min-width: 601px !important;
}

  nav {
      background-color: transparent !important;
      width: 400px !important;
      min-width: 400px !important;
      margin: 0 !important;
      margin-top: 5px !important;
      margin-right: 5px !important;
      float:left !important;
  }

  li{
    //position:relative !important;
    a{
      background-color: #6a6a68 !important;
      border: 1px solid #000 !important;
      padding-right: 10px !important;
    }

    a:hover{
      background-color: #3f3f3f !important;
    }
  }

  #nameblock {
    margin: 0;
    float:left !important;

    width: 100%;

    .super {

      font-size: 36;
    }

  }
}
