---
---

@import "{{ site.theme }}";

.header_button {
  //background-color: #252525 !important;
  padding-right: 10px !important;
}

nav {
  background-color: transparent !important;

  li{
    a{
      background-color: red !important;
    }

    a:hover{
      background-color: blue !important;
    }
  }
}
